$text-color: #000;
$reg-button-background-color: #22be22;
$reg-hover-button-background-color: #1ca51c;
$reg-active-button-background-color: #188818;
$registration-label-color: #1a0c4e;

$header-bg-color: #f8f7f7;
$header-logo-color: #0087f5;
$header-gray-color: #888888;
$header-hover-user-color: #2280cc2f;
$header-hover-button-color: #f5f5f5;
$header-dropdown-border-color: #ddd;

$accent-text-color: #176fee;
$vc-main-border-color: #ebebeb;

$api-button-green: #47906c;
$api-button-red: #dd3546;

$container-width: 1000px;
