@import "../../scss/variables";

.header {
  border-bottom: 1px solid $vc-main-border-color;
  background-color: $header-bg-color;
}

.headerList {
  width: $container-width;
  margin: 0 auto;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: $accent-text-color;
  font-size: 28px;
  padding: 0;
  padding-block: 20px;
}

.logo {
  text-decoration: none;
  font-size: 40px;
  color: $header-logo-color;
}

.grayText {
  text-decoration: none;
  font-size: 24px;
  color: $header-gray-color;
}

.blueText {
  text-decoration: none;
  color: $accent-text-color;
}

.headerElements {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.userMenu {
  position: relative;
}

.user {
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.5s;

  &:hover {
    background-color: $header-hover-user-color;
  }
}

.dropdown {
  width: 120px;
  height: 40px;
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  border: 1px solid $header-dropdown-border-color;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 100;
  display: flex;
  justify-content: center;
  pointer-events: none; // Отключение взаимодействия когда невидимо
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.2s, transform 0.2s;
}

.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto; // Включение взаимодействия
}

.dropdownItem {
  display: block;
  width: 100%;
  text-align: center;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.dropdownItem:hover {
  background-color: $header-hover-button-color;
}
